@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --drop-shadow: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 0, 0, 0.5));
  --base-position: -50px
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #d3d3d3;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #a8a8a8;
}

/* Position */
.pulse {
  position: absolute;
}

.pulse::after {
  content: '';
  position: absolute;
  top: 0;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background: #c2a75c;
  animation: pulse 1500ms infinite;
  filter: var(--drop-shadow);
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 #c2a75c;
  }
  100% {
    box-shadow: 0 0 0 30px #fbb32f01;
  }
}

.pulse.carrilero-izquierdo::after {
  top: 150px;
  left: 13px;
}

.pulse.carrilero-derecho::after {
  top: 150px;
  right: 13px;
}

.pulse.defensa-central::after {
  top: 206px;
  left: 50%;
  transform: translateX(-50%);
}

.pulse.delantero-centro::after {
  top: 1px;
  left: 50%;
  transform: translateX(-50%);
}

.pulse.extremo-derecho::after {
  top: 53px;
  right: 13px;
}

.pulse.extremo-izquierdo::after {
  top: 53px;
  left: 13px;
}

.pulse.lateral-derecho::after {
  top: 206px;
  right: 13px;
}

.pulse.lateral-izquierdo::after {
  top: 206px;
  left: 13px;
}

.pulse.media-punta::after {
  top: 66px;
  left: 50%;
  transform: translateX(-50%);
}

.pulse.medio-centro::after, .pulse.medio-centro-ofensivo::after {
  top: 115px;
  left: 50%;
  transform: translateX(-50%);
}

.pulse.medio-centro-defensivo::after {
  top: 206px;
  left: 50%;
  transform: translateX(-50%);
}

.pulse.medio-derecho::after {
  top: 116px;
  right: 13px;
}

.pulse.medio-izquierdo::after {
  top: 116px;
  left: 13px;
}

.pulse.portero::after {
  top: 266px;
  left: 50%;
  transform: translateX(-50%);
}

.pulse.segundo-delantero-izquierdo::after {
  top: 54px;
  left: 40px;
}

.pulse.segundo-delantero-derecho::after {
  top: 54px;
  right: 40px;
}

@media (min-width: 640px) {
  .perspective {
    transform: perspective(900px) rotateX(45deg);
    transform-style: preserve-3d;
  }
}

.carrilero-izquierdo {
  top: calc(var(--base-position) + 40%);
  left: 13px;
}

.carrilero-derecho {
  top: calc(var(--base-position) + 40%);
  right: 13px;
}

.defensa-central {
  top: calc(var(--base-position) + 60%);
  left: 38.5%;
}

.delantero-centro {
  top: calc(var(--base-position) + 3%);
  left: 38.5%;
}

.extremo-derecho {
  top: calc(var(--base-position) + 18%);
  right: 13px;
}

.extremo-izquierdo {
  top: calc(var(--base-position) + 18%);
  left: 13px;
}

.lateral-derecho {
  top: calc(var(--base-position) + 60%);
  right: 13px;
}

.lateral-izquierdo {
  top: calc(var(--base-position) + 60%);
  left: 13px;
}

.media-punta {
  top: calc(var(--base-position) + 22%);
  left: 38.5%;
}

.medio-centro, .medio-centro-ofensivo {
  top: calc(var(--base-position) +  38%);
  left: 38.5%;
}

.medio-centro-defensivo {
  top: calc(var(--base-position) + 60%);
  left: 38.5%;
}

.medio-izquierdo {
  top: calc(var(--base-position) +  38%);
  left: 20%;
}

.medio-derecho {
  top: calc(var(--base-position) + 38%);
  right: 20%;
}

.portero {
  bottom: calc(var(--base-position) + 5%);
  left: 38.5%;
}

.segundo-delantero-izquierdo {
  top: calc(var(--base-position) + 18%);
  left: 20%;
}

.segundo-delantero-derecho {
  top: calc(var(--base-position) + 18%);
  right: 20%;
}